

<!-- Start Footer Area -->
<!-- <footer class="footer">

    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
           
                    <div class="single-footer about">

                        <p class="text"> we are more than just a shopping destination; we are a community. Follow us to stay updated on the latest products, promotions, and trends. Join our newsletter for exclusive offers and insights..</p>
                        <p class="call">Got Question? Call us <span><a href="tel:123456789">+01024748172</a></span></p>
                    </div>
                 
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                   
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Prouduct">Product</a></li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/why us">Why Us </a></li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/CONTACT-US">Contact Us</a>
                            </li>
                        </ul>
                    </div>
             
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                  
                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>
                      
                        <div class="contact">
                            <ul>
                                <li>NO. 342 - London Oxford Street.</li>
                                <li>012 United Kingdom.</li>
                                <li>ranaelmallah@gmail.com</li>
                                <li>+01024748172</li>
                            </ul>
                        </div>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
  
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row inner ">
                    <div class="col-lg-6 col-12 ">
                        <div class="text-center">
                            <p>Copyright © 2024 <a href="https://www.linkedin.com/in/ranaelmallah/" target="_blank">Rana El-Mallah</a> - All Rights Reserved.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer> -->
<!-- /End Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                 <!-- Links Section -->
                 <div class="col-lg-2 col-md-6 col-12 mb-4">
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul class="list-unstyled">
                            <li><a class="nav-link" routerLink="/home">Home</a></li>
                            <li><a class="nav-link" routerLink="/Prouduct">Product</a></li>
                            <li><a class="nav-link" routerLink="/why us">Why Us</a></li>
                            <li><a class="nav-link" routerLink="/CONTACT-US">Contact Us</a></li>
                        </ul>
                    </div>
                </div>


               
                <!-- Contact Section -->
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="single-footer social ">
                        <h4>Get In Touch</h4>
                        <div class="contact">
                            <ul class="list-unstyled">
                                <li>NO. 342 - London Oxford Street.</li>
                                <li>012 United Kingdom.</li>
                                <li><a href="mailto:ranaelmallah@gmail.com">ranaelmallah@gmail.com</a></li>
                                <li><a href="tel:+01024748172">+01024748172</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- About Section -->
                <div class="col-lg-5 col-md-6 col-12 mb-4">
                    <div class="single-footer about">
                        <p class="text-white">
                            We are more than just a shopping destination; we are a community. Follow us to stay updated on the latest products, promotions, and trends. Join our newsletter for exclusive offers and insights.
                        </p>
                        <p class="call  text-white ">Got Question? Call us <span><a href="tel:123456789">+01024748172</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->

    <!-- Copyright Section -->
    <div class="copyright py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Copyright © 2024 
                        <a href="https://www.linkedin.com/in/ranaelmallah/" target="_blank">Rana El-Mallah</a> - All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>