ul.navbar-nav li a {
    color: black;
    margin: 1rem;
}

.active,
li:hover a {

    /* background-color: #dae2e0; */
   /*  color: #fff; */
    padding: .5rem .9rem;
    margin-top: 1rem;
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 0px  gray;
  
}